src/main/resources/wsdl/CORETransactionService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--Generated by the JavaTM Architecture for XML Binding(JAXB) Reference Implementation, (build IBM 2.2.10-06/29/2016 1:04:51 PMforeman-) 
See <a href="http://java.sun.com/xml/jaxb">http://java.sun.com/xml/jaxb</a>-->
<xs:schema version="1.0" targetNamespace="http://interfaces.services.dhcs.ca.gov/" xmlns:tns="http://interfaces.services.dhcs.ca.gov/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="COREEnvelopeBatchResultsAckSubmission" type="tns:COREEnvelopeBatchResultsAckSubmission"/>

  <xs:element name="COREEnvelopeBatchResultsAckSubmissionResponse" type="tns:COREEnvelopeBatchResultsAckSubmissionResponse"/>

  <xs:element name="COREEnvelopeBatchResultsRetrievalRequest" type="tns:COREEnvelopeBatchResultsRetrievalRequest"/>

  <xs:element name="COREEnvelopeBatchResultsRetrievalRequestResponse" type="tns:COREEnvelopeBatchResultsRetrievalRequestResponse"/>

  <xs:element name="COREEnvelopeBatchSubmission" type="tns:COREEnvelopeBatchSubmission"/>

  <xs:element name="COREEnvelopeBatchSubmissionAckRetrievalRequest" type="tns:COREEnvelopeBatchSubmissionAckRetrievalRequest"/>

  <xs:element name="COREEnvelopeBatchSubmissionAckRetrievalRequestResponse" type="tns:COREEnvelopeBatchSubmissionAckRetrievalRequestResponse"/>

  <xs:element name="COREEnvelopeBatchSubmissionResponse" type="tns:COREEnvelopeBatchSubmissionResponse"/>

  <xs:complexType name="COREEnvelopeBatchSubmissionAckRetrievalRequest">
    <xs:sequence>
        <xs:element name="PayloadType" type="xs:string" minOccurs="0"/>
        <xs:element name="ProcessingMode" type="xs:string" minOccurs="0"/>
        <xs:element name="PayloadID" type="xs:string" minOccurs="0"/>
        <xs:element name="PayloadLength" type="xs:string" minOccurs="0"/>
        <xs:element name="TimeStamp" type="xs:string" minOccurs="0"/>
        <xs:element name="SenderID" type="xs:string" minOccurs="0"/>
        <xs:element name="ReceiverID" type="xs:string" minOccurs="0"/>
        <xs:element name="CORERuleVersion" type="xs:string" minOccurs="0"/>
        <xs:element name="CheckSum" type="xs:string" minOccurs="0"/>
      	<xs:element name="Payload" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="COREEnvelopeBatchSubmissionAckRetrievalRequestResponse">
    <xs:sequence>
      <xs:element name="PayloadType" maxOccurs="1" minOccurs="1" type="xs:string"/>
	<xs:element name="ProcessingMode" maxOccurs="1" minOccurs="1" type="xs:string"/>
	<xs:element name="PayloadID" maxOccurs="1" minOccurs="1" type="xs:string"/>
	<xs:element name="PayloadLength" maxOccurs="1" minOccurs="0" type="xs:int"/>
	<xs:element name="TimeStamp" maxOccurs="1" minOccurs="1" type="xs:string"/>
	<xs:element name="SenderID" maxOccurs="1" minOccurs="1" type="xs:string"/>
	<xs:element name="ReceiverID" maxOccurs="1" minOccurs="1" type="xs:string"/>
	<xs:element name="CORERuleVersion" maxOccurs="1" minOccurs="1" type="xs:string"/>
	<xs:element name="CheckSum" maxOccurs="1" minOccurs="0" type="xs:string"/>
	<xs:element name="Payload" maxOccurs="1" minOccurs="0" type="xs:base64Binary" />
	<xs:element name="ErrorCode" maxOccurs="1" minOccurs="1" type="xs:string"/>
	<xs:element name="ErrorMessage" maxOccurs="1" minOccurs="1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="COREEnvelopeBatchSubmission">
    <xs:sequence>
      <xs:element name="PayloadType" type="xs:string" minOccurs="0"/>
      <xs:element name="ProcessingMode" type="xs:string" minOccurs="0"/>
      <xs:element name="PayloadID" type="xs:string" minOccurs="0"/>
      <xs:element name="PayloadLength" type="xs:string" minOccurs="0"/>
      <xs:element name="TimeStamp" type="xs:string" minOccurs="0"/>
      <xs:element name="SenderID" type="xs:string" minOccurs="0"/>
      <xs:element name="ReceiverID" type="xs:string" minOccurs="0"/>
      <xs:element name="CORERuleVersion" type="xs:string" minOccurs="0"/>
      <xs:element name="CheckSum" type="xs:string" minOccurs="0"/>
      <xs:element name="Payload" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="COREEnvelopeBatchSubmissionResponse">
    <xs:sequence>
        <xs:element name="PayloadType" maxOccurs="1" minOccurs="1" type="xs:string"/>
      	<xs:element name="ProcessingMode" maxOccurs="1" minOccurs="1" type="xs:string"/>
      	<xs:element name="PayloadID" maxOccurs="1" minOccurs="1" type="xs:string"/>
      	<xs:element name="PayloadLength" maxOccurs="1" minOccurs="0" type="xs:int"/>
      	<xs:element name="TimeStamp" maxOccurs="1" minOccurs="1" type="xs:string"/>
      	<xs:element name="SenderID" maxOccurs="1" minOccurs="1" type="xs:string"/>
      	<xs:element name="ReceiverID" maxOccurs="1" minOccurs="1" type="xs:string"/>
      	<xs:element name="CORERuleVersion" maxOccurs="1" minOccurs="1" type="xs:string"/>
      	<xs:element name="CheckSum" maxOccurs="1" minOccurs="0" type="xs:string"/>
      	<xs:element name="Payload" maxOccurs="1" minOccurs="0" type="xs:base64Binary" />
      	<xs:element name="ErrorCode" maxOccurs="1" minOccurs="1" type="xs:string"/>
      	<xs:element name="ErrorMessage" maxOccurs="1" minOccurs="1" type="xs:string"/>

    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="COREEnvelopeBatchResultsRetrievalRequest">
    <xs:sequence>
      <xs:element name="PayloadType" type="xs:string" minOccurs="0"/>
      <xs:element name="ProcessingMode" type="xs:string" minOccurs="0"/>
      <xs:element name="PayloadID" type="xs:string" minOccurs="0"/>
      <xs:element name="PayloadLength" type="xs:string" minOccurs="0"/>
      <xs:element name="TimeStamp" type="xs:string" minOccurs="0"/>
      <xs:element name="SenderID" type="xs:string" minOccurs="0"/>
      <xs:element name="ReceiverID" type="xs:string" minOccurs="0"/>
      <xs:element name="CORERuleVersion" type="xs:string" minOccurs="0"/>
      <xs:element name="CheckSum" type="xs:string" minOccurs="0"/>
      <xs:element name="Payload" ns1:expectedContentTypes="text/plain" type="xs:string" minOccurs="0" xmlns:ns1="http://www.w3.org/2005/05/xmlmime"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="COREEnvelopeBatchResultsRetrievalRequestResponse">
    <xs:sequence>
        <xs:element name="PayloadType" maxOccurs="1" minOccurs="1" type="xs:string"/>
      	<xs:element name="ProcessingMode" maxOccurs="1" minOccurs="1" type="xs:string"/>
      	<xs:element name="PayloadID" maxOccurs="1" minOccurs="1" type="xs:string"/>
      	<xs:element name="PayloadLength" maxOccurs="1" minOccurs="0" type="xs:int"/>
      	<xs:element name="TimeStamp" maxOccurs="1" minOccurs="1" type="xs:string"/>
      	<xs:element name="SenderID" maxOccurs="1" minOccurs="1" type="xs:string"/>
      	<xs:element name="ReceiverID" maxOccurs="1" minOccurs="1" type="xs:string"/>
      	<xs:element name="CORERuleVersion" maxOccurs="1" minOccurs="1" type="xs:string"/>
      	<xs:element name="CheckSum" maxOccurs="1" minOccurs="0" type="xs:string"/>
      	<xs:element name="Payload" maxOccurs="1" minOccurs="0" type="xs:base64Binary" />
      	<xs:element name="ErrorCode" maxOccurs="1" minOccurs="1" type="xs:string"/>
      	<xs:element name="ErrorMessage" maxOccurs="1" minOccurs="1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="COREEnvelopeBatchResultsAckSubmission">
    <xs:sequence>
      <xs:element name="PayloadType" type="xs:string" minOccurs="0"/>
      <xs:element name="ProcessingMode" type="xs:string" minOccurs="0"/>
      <xs:element name="PayloadID" type="xs:string" minOccurs="0"/>
      <xs:element name="PayloadLength" type="xs:string" minOccurs="0"/>
      <xs:element name="TimeStamp" type="xs:string" minOccurs="0"/>
      <xs:element name="SenderID" type="xs:string" minOccurs="0"/>
      <xs:element name="ReceiverID" type="xs:string" minOccurs="0"/>
      <xs:element name="CORERuleVersion" type="xs:string" minOccurs="0"/>
      <xs:element name="CheckSum" type="xs:string" minOccurs="0"/>
      <xs:element name="Payload" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="COREEnvelopeBatchResultsAckSubmissionResponse">
    <xs:sequence>
        <xs:element name="PayloadType" maxOccurs="1" minOccurs="1" type="xs:string"/>
      	<xs:element name="ProcessingMode" maxOccurs="1" minOccurs="1" type="xs:string"/>
      	<xs:element name="PayloadID" maxOccurs="1" minOccurs="1" type="xs:string"/>
      	<xs:element name="PayloadLength" maxOccurs="1" minOccurs="0" type="xs:int"/>
      	<xs:element name="TimeStamp" maxOccurs="1" minOccurs="1" type="xs:string"/>
      	<xs:element name="SenderID" maxOccurs="1" minOccurs="1" type="xs:string"/>
      	<xs:element name="ReceiverID" maxOccurs="1" minOccurs="1" type="xs:string"/>
      	<xs:element name="CORERuleVersion" maxOccurs="1" minOccurs="1" type="xs:string"/>
      	<xs:element name="CheckSum" maxOccurs="1" minOccurs="0" type="xs:string"/>
      	<xs:element name="Payload" maxOccurs="1" minOccurs="0" type="xs:base64Binary" />
      	<xs:element name="ErrorCode" maxOccurs="1" minOccurs="1" type="xs:string"/>
      	<xs:element name="ErrorMessage" maxOccurs="1" minOccurs="1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

