src/main/resources/wsdl/CORETransactionService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--Generated by the JavaTM Architecture for XML Binding(JAXB) Reference Implementation, (build IBM 2.2.10-06/29/2016 1:04:51 PMforeman-) 
See <a href="http://java.sun.com/xml/jaxb">http://java.sun.com/xml/jaxb</a>-->
<xs:schema version="1.0" targetNamespace="xxxxxxxxx" xmlns:tns="xxxxxxxxx" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="ABCServiceSubmissionAckRetrievalRequest" type="tns:ABCServiceSubmissionAckRetrievalRequest"/>
  <xs:element name="ABCServiceSubmissionAckRetrievalRequestResponse" type="tns:ABCServiceSubmissionAckRetrievalRequestResponse"/>
	

  <xs:complexType name="ABCServiceSubmissionAckRetrievalRequest">
    <xs:sequence>
        <xs:element name="PayloadLength" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ABCServiceSubmissionAckRetrievalRequestResponse">
    <xs:sequence>
	<xs:element name="PayloadLength" maxOccurs="1" minOccurs="0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  
</xs:schema>

